<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletContextListener</servlet-name>
        <servlet-class>com.Util.ServletContextListener</servlet-class>
    </servlet>
    <listener>
        <listener-class>com.Util.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.WEB.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>com.WEB.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.WEB.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.WEB.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.WEB.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>com.WEB.Staff.StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.WEB.Student.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CounselorServlet</servlet-name>
        <servlet-class>com.WEB.Counselor.CounselorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssessmentResponseServlet</servlet-name>
        <servlet-class>com.WEB.AssessmentResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssessmentServlet</servlet-name>
        <servlet-class>com.WEB.AssessmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OAuth2CallbackServlet</servlet-name>
        <servlet-class>com.WEB.OAuth2CallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAppointmentBookingServlet</servlet-name>
        <servlet-class>com.WEB.Student.StudentAppointmentBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAppointmentServlet</servlet-name>
        <servlet-class>com.WEB.Staff.StaffAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CounselorAppointmentServlet</servlet-name>
        <servlet-class>com.WEB.Counselor.CounselorAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfographicDataServlet</servlet-name>
        <servlet-class>com.WEB.Staff.InfographicDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>com.WEB.Student.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateReferralPDFServlet</servlet-name>
        <servlet-class>com.WEB.Counselor.GenerateReferralPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.WEB.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppContextListener</servlet-name>
        <servlet-class>com.Util.AppContextListener</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContextListener</servlet-name>
        <url-pattern>/ServletContextListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/QuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/StaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CounselorServlet</servlet-name>
        <url-pattern>/CounselorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssessmentResponseServlet</servlet-name>
        <url-pattern>/AssessmentResponseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssessmentServlet</servlet-name>
        <url-pattern>/AssessmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAuth2CallbackServlet</servlet-name>
        <url-pattern>/OAuth2CallbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAppointmentBookingServlet</servlet-name>
        <url-pattern>/StudentAppointmentBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAppointmentServlet</servlet-name>
        <url-pattern>/StaffAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CounselorAppointmentServlet</servlet-name>
        <url-pattern>/CounselorAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfographicDataServlet</servlet-name>
        <url-pattern>/InfographicDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateReferralPDFServlet</servlet-name>
        <url-pattern>/GenerateReferralPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppContextListener</servlet-name>
        <url-pattern>/AppContextListener</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
